In [4]:
list1 = [1,2,3,4,5]
list2 = []

for i in list1:
    list2.append(i*i)
print(list2)

[1, 4, 9, 16, 25]

In [5]:
fruits = ["apple","ornage","mango","grapes"]
fruits_new = []
for i in fruits:
    if i.startswith("m"):
        fruits_new.append(i)
print(fruits_new)

['mango']

In [ ]:
    first_value if condition  else second_value

### List Comprahension

list1 =[1, 2, 3, 4, 5]

#####  [ expression for items in collection]

In [8]:
new_list =  [i*i  for i in list1]

In [9]:
new_list

[1, 4, 9, 16, 25]

In [12]:
fruits = ["apple","ornage","mango","grapes"]
new = [i for i in fruits if i.startswith("g") ]

In [13]:
new

['grapes']

In [ ]:
#take values from 10 to 20 in list and print only odd nuymbers using list comprahemsion method

In [14]:
numbers = [i for i in range(10,21)]

In [15]:
numbers

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
val = []
for i in numbers:
    if i%3==0:
        val.append(i)

In [17]:
val

[12, 15, 18]

In [19]:
[ i+20  for i in numbers if i%3==0]

[32, 35, 38]

# Functions

In [20]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [21]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [22]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [23]:
print("Hello")
print("Hello World")
print("Hello World. I am data scientist")
print("Hello World . I am data Analyst")
print("Hai.How are you?")

Hello
Hello World
Hello World. I am data scientist
Hello World . I am data Analyst
Hai.How are you?

In [ ]:
#code length is more
#code memory increases

### creating a function

In [26]:
def name():
    print("Function is  succesfully created")     #creating the function

In [27]:
name()  #calling the function

Function is  succesfully created

In [28]:
name()

Function is  succesfully created

In [29]:
name()

Function is  succesfully created

In [30]:
#sum of two numbers

In [31]:
def add(a,b):
    print(a+b)   #here a,b are arguments

In [33]:
add(10,13)

23

In [34]:
def even(a):
    if a%2==0:
        print("Even")
    else:
        print("Odd")

In [37]:
even(28)

Even

In [38]:
even(21)

Odd

In [39]:
even(101)

Odd

# Types of arguments

#### 1. Postion based arguments

In [40]:
def add(a,b,c):
    print(a+b-c)

In [41]:
add(10,20,40)

-10

In [42]:
add(20,40,10)

50

In [43]:
def hai(c,b,a):
    print(c-a+b)
hai(1,3,2)

2

In [44]:
hai(2,1,3)

0

In [45]:
hai(2,1,1)

2

In [47]:
hai(1,4,"h")

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [50]:
def concat(name1,name2):
    print(name1 + name2)

In [52]:
name1 = input("enter first name: ")
name2 = input("enter second name: ")
concat(name1,name2)

enter first name: Scientist
enter second name:  Data
Scientist Data

# keyword Arguments

In [57]:
def sub(a,b):
    print(a-b)

In [58]:
sub(10,20)

-10

In [59]:
sub(20,10)

10

In [60]:
sub(a = 20,b =10)

10

In [61]:
sub(b =10,a = 20)

10

In [62]:
sub(b = int(input("B value")),a = int(input("enter a value: ")))

B value45
enter a value: 21
-24

In [63]:
def division(n,n1):
    print(n/n1)
    print(n//n1)
    print(n%n1)

In [64]:
division(n = int(input('n value : ')),n1 = int(input('n1 value : ')))

n value : 556
n1 value : 56
9.928571428571429
9
52

In [65]:
#combination of postion and keyword arguments

In [66]:
def div(n1,n2):
    print(n1/n2)

In [68]:
div(10,4) #postion

2.5

In [69]:
div(n1 = 10,n2 = 4)  #keyword

2.5

In [72]:
div(10,n2 = 4)   #both combination

2.5

In [74]:
div(n1 = 10, 4)  #both combination

#positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (905120293.py, line 1)

## Default Arguments

In [1]:
def details(name,age,city,role):
    print(name)
    print(age)
    print(city)
    print(role)

In [6]:
details("Ram",21,"HYD")

TypeError: details() missing 1 required positional argument: 'role'

In [7]:
def details(name,age,city,role="Data Analyst"):
    print(name)
    print(age)
    print(city)
    print(role)

In [8]:
details("ram",20,"VJW")

ram
20
VJW
Data Analyst

In [9]:
details("ram",20,"VJW","Data Scientist")

ram
20
VJW
Data Scientist

In [16]:
def wishes(name = "user"):
    print(f"Dear {name}.How are you? ")

In [19]:
wishes()

Dear user.How are you?

In [20]:
name = "Python Prorgamming language"

In [22]:
name.split('r')

['Python P', 'og', 'amming language']

In [27]:
def student(name,class1,city = "HYD",scool = "HPS"):
    print(f"name :{name}")
    print(f"class :{class1}")
    print(f"city :{city}")
    print(f"school :{scool}")

In [24]:
student("Ramesh",8,"hyd","HPS")

name :Ramesh
class :8
city :hyd
school :HPS

In [25]:
student("Rajani",9,"hyd","HPS")

name :Rajani
class :9
city :hyd
school :HPS

In [28]:
student("ramesh",4)

name :ramesh
class :4
city :HYD
school :HPS

In [31]:
student("ram",5,"HPS")

name :ram
class :5
city :HPS
school :HPS

In [36]:
def cricketer(name,age,ipl,country = "India"):
    print(f"{name },{age},{ipl},{country}")

In [37]:
cricketer("Kohli",30,"RCB","India")

Kohli,30,RCB,India

In [38]:
cricketer( "Rohit",32,"MI","India")

Rohit,32,MI,India

In [39]:
cricketer("Dhoni",34,"CSK")

Dhoni,34,CSK,India

In [40]:
def mul(a,b):
    print(a*b)

In [42]:
mul(10,20,30,40)

TypeError: mul() takes 2 positional arguments but 4 were given

## Variable length arguments

In [56]:
def mul(*n):         # *args-arguments
    for i in n:
        print(i**2)

In [58]:
mul(1,2,3,4,5,6,7,8,9,10,20,30)

1
4
9
16
25
36
49
64
81
100
400
900

In [59]:
def add(*num):
    total = 0
    for i in num:
        total += i
    print(total)

In [61]:
add(1,2,3,4,5,6,12,12,13,14)

72

In [64]:
def key(**val):
    for i,j in val.items():
        print(j)

In [65]:
key(name = "Ram",age = 21)

Ram
21

# Function Variables

1. if variable is declared outside of the function is called global
2. if variable is declared iniside the function is called local variable

Note.Even we can declare global variable inside the function using global keyword

In [73]:
a = 10

def f1():
    print(a+2)
    
def f2():
    print(a-2)

In [74]:
f1()

12

In [75]:
f2()

8

In [76]:


def f3():
    b = 10
    print(b*2)
    
def f4():
    print(b-2)

In [77]:
f3()

20

In [78]:
f4()

NameError: name 'b' is not defined

In [79]:
c =100
def f3():
    c = 10
    print(c*2)
    
def f4():
    print(c-2)

In [80]:
f3()

20

In [81]:
f4()

98

In [ ]:
x = 10

def f5():
    print(x**2)
    
def f6():
    print(x-20)

In [97]:

def f5():
    global y
    y = 10
    print(y*2)
    
def f6():
    print(y-20)

In [98]:
f5()

20

In [99]:
f6()

-10

# Lambda function

1. Nameless or Ananymous function
2. function can be written in single line

In [102]:
def square(n):
    print(n**2)

In [103]:
square(3)

9

#### lambda  argument_list : expression

In [104]:
 c = lambda n : n**2

In [107]:
print(c(7))

49

In [108]:
add = lambda a,b: a+b

In [109]:
add(1,6)

7

In [110]:
#WPC to take 3 numbers as input and should be returned to multpilication of them

mul = lambda x,y,z: x*y*z

In [111]:
mul(3,4,5)

60

#### what is the differene betweeen return and print

In [141]:
def add(a,b):
    return (a+b)

In [142]:
t = add(10,20)
type(t)

int

In [132]:
def add2(x,y):
    return x+y

In [133]:
c= add2(10,20)

In [134]:
c

30

In [135]:
print(type(t))

<class 'NoneType'>

In [136]:
print(type(c))

<class 'int'>

In [137]:
r = 10+30

In [138]:
print(type(r))

<class 'int'>