Pattern programming in Python involves creating various patterns using loops and other programming constructs. These patterns can be formed using symbols, numbers, or any other characters. Let's go through some common pattern examples step-by-step:

In [2]:
n = int(input("Enter no of rows: "))
for i in range(n):
    print("*"i)    #repetetion

Enter no of rows: 6
0
1
2
3
4
5

In [9]:
n = int(input("enter no of rows"))
for i in range(n):
    print('   *'*i)

enter no of rows10

   *
   *   *
   *   *   *
   *   *   *   *
   *   *   *   *   *
   *   *   *   *   *   *
   *   *   *   *   *   *   *
   *   *   *   *   *   *   *   *
   *   *   *   *   *   *   *   *   *

In [13]:
n = int(input("enter no of rows"))
for i in range(n+1):
    print(f' {i}'*i)

enter no of rows4

 1
 2 2
 3 3 3
 4 4 4 4

In [15]:
n = int(input("enter no of rows"))
for i in range(n+1):
    print(' a'*i)

enter no of rows5

 a
 a a
 a a a
 a a a a
 a a a a a

In [18]:
#n = int(input("enter no of rows"))
for i in range(5):
    print('   *'*(5-i))#range(5): 0,1,2,3,4

   *   *   *   *   *
   *   *   *   *
   *   *   *
   *   *
   *

In [99]:
def triangle(n):
    for i in range(n):  
        print(' '*(n-i-1)+' *'*(i+1))

In [100]:
triangle(6)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [101]:
triangle(15)

               *
              * *
             * * *
            * * * *
           * * * * *
          * * * * * *
         * * * * * * *
        * * * * * * * *
       * * * * * * * * *
      * * * * * * * * * *
     * * * * * * * * * * *
    * * * * * * * * * * * *
   * * * * * * * * * * * * *
  * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * *

In [33]:
for i in range(5):  #n=5   #i :2
    print(' '*(n-i-1)+' a'*(i+1))

     a
    a a
   a a a
  a a a a
 a a a a a

In [37]:
for i in range(5,0,-1):  #n=5   #i :4,3,2,1
    print(' '*(n-i)+' *'*(i))

 * * * * *
  * * * *
   * * *
    * *
     *

In [102]:
def rhombus(n):
    for i in range(n):  # n=5   #i :2
        print('  '*(n-i)+' *'*(2*i-1))
    for i in range(n-1,0,-1):  #n=5   #i :2
        print('  '*(n-i)+' *'*(2*i-1))

In [103]:
rhombus(6)

           *
         * * *
       * * * * *
     * * * * * * *
   * * * * * * * * *
   * * * * * * * * *
     * * * * * * *
       * * * * *
         * * *
           *

In [87]:
n = int(input("Enter row:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

Enter row:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [106]:
def pascal(n):
    for i in range(1,n+1):
        num = 1
        for j in range(1,n-1+1):
            print(" ",end = ' ')
        for k in range(1,i+1):
            print(num,end =" ")
            num = num *(i-k) //k
        print()

In [107]:
pascal(5)

        1
        1 1
        1 2 1
        1 3 3 1
        1 4 6 4 1

In [1]:
def hollow_square_pattern(n):
    for i in range(n):
        if i == 0 or i == n - 1:
            print('*' * n)
        else:
            print('*' + ' ' * (n - 2) + '*')

hollow_square_pattern(5)

*****
*   *
*   *
*   *
*****

In [3]:
def pascals_triangle(n):
    for i in range(n):
        for j in range(n - i):
            print(" ", end="")
        for j in range(i + 1):
            print(binomial_coefficient(i, j), end=" ")
        print()

def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    else:
        return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)

pascals_triangle(5)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1