# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [3]:
My name is Pranav Bhawsar

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
Vairable in python is reserved memory address that store value in python.

In [1]:
name = " Pranav"
batch = " 241 "

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [1]:
width = 17
height = 12.0

In [2]:
a = width/2
print (a)

8.5

In [3]:
type (a)

float

In [4]:
b = width / 2.0
print ( b )

8.5

In [5]:
type ( b )

float

In [6]:
c = height / 3
print ( c )

4.0

In [7]:
type ( c )

float

In [27]:
d = 1 + 2*5
print (d)

11

In [28]:
type ( d )

int

In [29]:
e = '.'*5
print (e)

.....

In [30]:
type ( e )

str

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [2]:
a=25
b=36
a+b

61

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [4]:
a= "Pranav"
b= "Bhawsar"
a+b

'PranavBhawsar'

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [5]:
type(10)

int

In [6]:
type('10')

str

In [7]:
type(True)

bool

In [9]:
type(10.5)

float

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [5]:
num_str="456"
x=int(num_str)
print(x)

456

In [7]:
num_int = 123

In [8]:
y = num_int+x
print(y)

579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [17]:
r= 5
area = (4/3)*(22/7)*r**3
print (area)

523.8095238095237

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [33]:
price = 24.95

In [38]:
actual = 24.95-(24.95*0.40)
print (actual)

14.969999999999999

In [39]:
shipping_1 = 3
shipping_59 = 59*.75
print(shipping_59)

44.25

In [40]:
total_wholesale= (14.969+3)+(14.969*59+44.25)
print(total_wholesale)

945.39

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)