# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [26]:
nums=[]
for i in range(1,5):
    nums.append(i)
print(nums)

[1, 2, 3, 4]

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [27]:
#method0
no = nums.pop(2)
nums

[1, 2, 4]

In [2]:
#method1
nums=[]
for i in range(1,5):
    if i!=3:
        nums.append(i)
print(nums)

[1, 2, 4]

In [21]:
#method2
nums = [1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

In [1]:
#method3
nums = [1,2,3,4]
a=nums.pop(2)
nums

[1, 2, 4]

In [31]:
# Method 1

[1, 2, 4]

In [14]:
# Method 2

[1, 2, 4]

In [16]:
# Method 3

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [33]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [34]:
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [28]:
phrase = "Don't panic!"
a= list(phrase)
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [38]:
# CODE HERE

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [31]:
a.remove("!")
a.remove("'")
print(a)

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [33]:
a.remove("p")
a.remove("a")
a.remove("n")
a.remove("D")
a.extend("p")
a.extend("a")
a.extend("n")
a.extend("D")
print(a)

['o', 't', ' ', 'i', 'c', 'n', 'p', 'a', 'n', 'D']

In [44]:
# CODE HERE

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [35]:
list1= ['p', 'a', 'n', 'D', 'a']
result = ''.join(list1)
print(result)

panDa

In [ ]:
# CODE HERE

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [49]:
nums= (31, 24, 35, 85)
print('Data type = ',type(nums))
print(nums)

Data type =  <class 'tuple'>
(31, 24, 35, 85)

In [ ]:
# CODE HERE

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [56]:
a= list(nums)
a.remove(35)
tuple(a)

(31, 24, 85)

In [49]:
# CODE HERE

(31, 24, 85)

**Extent** tuple (85,19)

In [65]:
na = list(nums)
na.append(19)
print(tuple(na))

(31, 24, 35, 85, 19)

In [ ]:
# CODE HERE

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [69]:
#method1
tpl = ('i','n','n','0')
'i' in tpl

True

In [ ]:
# CODE HERE

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [88]:
list1 = ['Hello',100,[],'innomatics']
list1 = str(list1).replace('[]','[200]')
list1

"['Hello', 100, [200], 'innomatics']"

In [3]:
# CODE HERE

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [6]:
# CODE HERE
tpl = ("Innomatics")

In [129]:
tpl1 = []
tpl = ("Innomatics")
for i in tpl[::-1]:
    tpl1.append(i)
print(tuple(tpl1))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [131]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [145]:
tpl1 = []
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in tpl:
    aa = i+(100,)
    tpl1.append(aa)
    
print(tpl1)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [38]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
#output[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [1]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(tpl)):
    l1= list (tpl[i])
    l1.append(100)
    tpl[i] = tuple(l1)
print(tpl)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [4]:
input_string = '5 2 4 6 2 2 '
l1 = list(input_string)
l1.sort(reverse=True)
second_highest = l1[1]
print("The second highest value is:",second_highest)

The second highest value is: 5

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [1]:
l= [12,24,35,70,88,120,155]
r=[12,88,120]
[i for i in l if i not in r]

[24, 35, 70, 155]

In [11]:
#by ternaary + list comprehension
a=[12,24,35,70,88,120,155]
b=[i for i in a if a.pop(0)]
print(b)

[12, 35, 88, 155]

In [3]:
#list comprehension
a=[12,24,35,70,88,120,155]
b=[]
for i in a :
    if i==i[0]:
        break
    if i==i[4]:
        break
    if i==i[5]:
        break
    else:
        b.append(i)
print(b)

TypeError: 'int' object is not subscriptable

In [3]:
# CODE HERE

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [31]:
t =(1,2,3,4,5,6,7,8,9,10)
u= []
v= []
for i in t:
    if i<6:
        u.append(i)
    else:
        v.append(i)
print(tuple(u),tuple(v))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [32]:
t =(1,2,3,4,5,6,7,8,9,10)
u= []
for i in t:
    if i%2==0:
        u.append(i)
    else:
        pass
print(tuple(u))

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

List                                                    Tuple
+ mutable                                               + immutable
+ defined by = []                                       + defined by = ()
+ no. of methods=11                                     + no. of methods=2

In [ ]:
# Solution

### 2. Explain the difference between append() and extend() with examples

In [51]:
p=[1,2,3,4,5,6,47,87,9]
p.append(10000000)       #Append object to the end of the list.
print(p)


p=[1,2,3,4,5,6,47,87,9]
p.extend([100000,16555465,133])        #Extend list by appending elements from the iterable.
print(p)

[1, 2, 3, 4, 5, 6, 47, 87, 9, 10000000]
[1, 2, 3, 4, 5, 6, 47, 87, 9, 100000, 16555465, 133]

In [ ]:
# Solution

### 3. Explain the difference between pop() and remove() with examples

In [49]:
p=[1,2,3,4,5,6,47,87,9]
p.pop(2)   #Remove and return item at index (default last).
print(p)

l = [1, 2, 3]
l.remove(3)   #Remove first occurrence of value.
print(l)

[1, 2, 4, 5, 6, 47, 87, 9]
[1, 2]

In [ ]:
# Solution

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)