# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE

In [26]:
person1 = {'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [ ]:
# CODE HERE

In [5]:
person1.keys()

dict_keys(['Gender', 'Location', 'Name', 'Occupation'])

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [1]:
# CODE HERE

In [29]:
person1.pop('Location')
print(person1)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE

In [22]:
person2 = {'Name': 'Raghu Ram','Gender': 'Male','Age': '25','Occupation': 'Data Scientist'}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': '25',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [6]:
# CODE HERE

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [23]:
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': '25', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [25]:
#way1
dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dict1.pop( 4)
print(dict1)

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49}

In [ ]:
#way2
dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dict1.

In [1]:
# CODE HERE


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [2]:
# CODE HERE

In [35]:
dict2 = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
x = sorted(dict2 , reverse=True)
x

[9, 7, 5, 3, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [45]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
print(dict1)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [ ]:
# CODE HERE

In [184]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [1]:
# CODE HERE

In [100]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}


sampleDict["class"]["student"]["marks"]['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

In [17]:
dd = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [18]:
dd["Area"] =dd["Location"]
del dd["Location"]

In [19]:
dd

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [1]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
a = input("enter the username = ")
b = int(input("enter the password = "))

if a in database.keys() and b == database[a]:
    print('Hello',a)

else :
    print("you want me to add into the database Yes/No")
    c = input()
    if c.lower() == 'yes':
        database[a] = b
        print(database)

enter the username = ram
enter the password = 1234
Hello ram

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)