# File handling + Time module

### Task Description:

Create a Python script that simulates a simple login system. The script should prompt the user to enter their username and password. If the entered username and password match the predefined credentials, the script should log a successful login event to a log file. If the credentials do not match, it should log a failed login attempt to the log file.
Example Output
Assuming the predefined credentials are `username: "user123"` and `password: "pass123"`, here's an example output of the script:

In [2]:
import time

In [6]:
def LoginFile():                                               #creating Function
    Username = "Pranav1bhawsar"                                       #Global
    Password = "Ina8200.h119498"                                      #Global
    User_name = input(" Enter the  User_Name for login : ")           #Prompt_input
    Pass_word = input(" Enter the  Pass_word for login : ")           #Prompt_input


    Login_file=open("Login_System.txt","w+")                  #Creating and Writing in file
    Login_file.write(f"Please enter your username : {User_name}\n")
    Login_file.write(f"Please enter your password : {Pass_word}\n")
    now = time.asctime()

    if Username == User_name and Pass_word == Pass_word :
        with open("Login_System.txt","a") as Login_file:
            Login_file.write(f"Logged In Successfully for {User_name} ({now})\n")
    else:
        with open("Login_System.txt","a") as Login_file:
            Login_file.write(f"Failed Login Attempt for {User_name} ({now})\n")
    Login_file.close()

In [9]:
LoginFile()                               #Calling the function

 Enter the  User_Name for login : PranavBhawsar
 Enter the  Pass_word for login : pb123

In [10]:
f=open("Login_System.txt","r")
f.readlines()

['Please enter your username : PranavBhawsar\n',
 'Please enter your password : pb123\n',
 'Failed Login Attempt for PranavBhawsar (Fri Jul 28 12:06:52 2023)\n']

In [12]:
LoginFile()

 Enter the  User_Name for login : Pranav1bhawsar
 Enter the  Pass_word for login : Ina8200.h119498

In [13]:
f=open("Login_System.txt","r")
f.readlines()

['Please enter your username : Pranav1bhawsar\n',
 'Please enter your password : Ina8200.h119498\n',
 'Logged In Successfully for Pranav1bhawsar (Fri Jul 28 12:09:23 2023)\n']

In [14]:
f.close()

# Modules:
1.	Create any 5 of following modules
a.	Restaurant    **
b.	IPL
c.	Mathematics
d.	Data Science  **
e.	India
f.	Shopping mall
g.	Amazon_price   **
(** which are represented in bold letters is compulsory)

In [16]:
import os               #importing OS module
os.getcwd()             #getting current working

'C:\\Users\\prana'

# 1st_Module - Restaurant_Menu_card

In [22]:
import Restaurant_Menu_card

In [19]:
Restaurant_Menu_card.Hamburgers()

 Cheese Burger : 120 ₹
 Schezwan Cheese Chutney Burger : 180 ₹
 Potato Patty Burger : 100 ₹

In [21]:
Restaurant_Menu_card.Snacks()

 Pav Bhaji : 200 ₹
 Chole Bhature : 120 ₹
 Peanut Chat : 60 ₹

# 2nd_Module - DataScience

In [25]:
import DataScience

In [26]:
DataScience.coaching_hubs()

 Bengaluru : but its too expensive with plenty of opportunities
 Hyderabad : Studious environment
 Pune : Good working environment
 Indore :  Institutes are in developing stage.

In [27]:
DataScience.History()

First India Statistiacal Institute of India : Kolkata : 1970 estb.

In [28]:
DataScience.skills_reqiured()

 Pyhton/R
 Data Visulisation
 Tableau
 SQL
 ML
 DL
 AI

# 3rd_Module - AmazonPrice

In [29]:
import AmazonPrice

In [30]:
AmazonPrice.BabyCare()

 Baby Clothes of 1 months
 Baby Powder
 Baby cream

In [31]:
AmazonPrice.Appliances()

 Wooden Reck
 Indoor curtains
 Washing tools

In [32]:
AmazonPrice.Category()

 Appliances
 HomeGoods
 BabyCare
 Electonic

# 4th_Module - India

In [33]:
import India

In [34]:
India.History()

 Independent in 1947
 Republic in 1950

In [35]:
India.NationalCapital()

 New Delhi

In [36]:
India.FinancialCapital()

 Mumbai

# 5th_Module : IPL

In [37]:
import IPL

In [38]:
IPL.Teams()

Chennai Super Kings.
Royal Challengers Bangalore.
Mumbai Indians.
Kolkata Knight Riders.
Sunrisers Hyderabad.
Rajasthan Royals.
Delhi Capitals.
Gujarat Titans.